# Python
__pycache__/
*.py[cod]
.env
*.egg-info/
.venv/

# Secrets (NEVER commit these)
*-secret-raw.yaml
/tmp/*.yaml
*.key
*.pem

# Local dev
.DS_Store
*.log

# Helm dependencies
helm/medical-platform/charts/*.tgz

# Local Kubernetes/Docker artifacts
*.tar
k3s-images-backup/
venv/
.env
